{
  "root": true,
  "env": {
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "react", "simple-import-sort", "typescript-sort-keys", "sort-keys"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:jsonc/recommended-with-jsonc"
  ],
  "rules": {
    "sort-keys": 0, // disable default eslint sort-keys
    "sort-keys/sort-keys-fix": 1,
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-var-requires": "off",
    "jsonc/sort-keys": [
      "error",
      "asc",
      {
        "natural": true,
        "minKeys": 2
      }
    ],
    "typescript-sort-keys/interface": ["error", "asc", { "natural": true }],
    "typescript-sort-keys/string-enum": ["error", "asc", { "natural": true }],
    "simple-import-sort/imports": [
      "error",
      {
        "groups": [
          // Import order into one group
          [
            "^react",
            "^@?\\w",
            "^\\u0000",
            "^(@tidy-ui)(/.*|$)",
            "^\\.\\.(?!/?$)",
            "^\\.\\./?$",
            "^\\./(?=.*/)(?!/?$)",
            "^\\.(?!/?$)",
            "^\\./?$",
            "^.+\\.?(css)$"
          ]
        ]
      }
    ],
    "simple-import-sort/exports": "error"
  }
}
