import React from "react";
import styled from "styled-components";

interface I{{ properCase name }}Props extends React.HTMLAttributes<...> {}

const {{ properCase name }} = React.forwardRef<..., I{{ properCase name }}Props>(
  (props, ref) => {
    const { className, children, ...rest } = props;
    return (
      <div ref={ref} {...rest} className={className}>
        {children}
      </div>
    );
  }
);

export { {{ properCase name }} };
